<div class="centered container-body">

    <mat-card class="centered mat-card-top" id="mat-card-top">
        <mat-card>{{actualQuestion['question']}}</mat-card>

        <div class="checkboxes">
            <section *ngFor="let answer of actualAnswers;let indexOfelement=index;">
                <mat-checkbox id="{{ 'checkbox' + indexOfelement }}" class="checkbox " [(ngModel)]="checkedAnswers[indexOfelement]" [checked]="checkedAnswers[indexOfelement]">
                    <mat-card id="{{ 'card' + indexOfelement }}" class="checkbox-text"> {{answer}}</mat-card>
                </mat-checkbox>
            </section>

        </div>
        <mat-card>Richtig: {{ counterCorrect }} <br> Falsch: {{ counterFalse }}</mat-card>

        <div class="button-container">
            <button [disabled]="btnDisabled" mat-raised-button (click)="restartGame()">Neustart</button>
            <button [disabled]="btnDisabled" mat-raised-button (click)="btnCheckClick()">{{ btnText }}</button>

        </div>
    </mat-card>






</div>