<div class="centered container-body">
    <mat-card class="centered mat-card-top">
        <mat-card>Simple card</mat-card>

        <div class="checkboxes">
            <mat-checkbox class="checkbox">
                <mat-card class="checkbox-text"> Test Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi consectetur cumque quaerat corporis! Vitae blanditiis ratione vel esse odio? Fugit dicta adipisci quia ducimus. Numquam sequi soluta illo facilis doloribus?</mat-card>
            </mat-checkbox>
            <mat-checkbox class="checkbox">
                <mat-card class="checkbox-text"> Test Lorem, i consectetur cumque quaerat corporis! Vitae blanditiis ratione vel esse odio? Fugit dicta adipisci quia ducimus. Numquam sequi soluta illo facilis doloribus?</mat-card>
            </mat-checkbox>
            <mat-checkbox class="checkbox">
                <mat-card class="checkbox-text"> Test Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi consectetur cumque quaerat corporis! Vitae blanditiis ratione vel esse odio? Fugit dicta adipisci quia ducimus. Numquam sequi soluta illo facilis doloribus?</mat-card>
            </mat-checkbox>
            <mat-checkbox class="checkbox">
                <mat-card class="checkbox-text"> T. Sequi consectetur cumque quaerat corporis! Vitae blanditiis ratione vel esse odio? Fugit dicta adipisci quia ducimus. Numquam sequi soluta illo facilis doloribus?</mat-card>
            </mat-checkbox>
            <mat-checkbox class="checkbox">
                <mat-card class="checkbox-text"> e quaerat coo? Fugit dicta adipisci quia ducimus. Numquam sequi soluta illo facilis doloribus?</mat-card>
            </mat-checkbox>

        </div>

        <button mat-raised-button>Basic</button>
    </mat-card>






</div>