/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.centered {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
}

#mat-card-top {
    background-color: rgba(71, 71, 71, 0.551);
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.mat-checkbox-layout {
    padding-left: 2px;
    border-radius: 4px;
}

.correctAnswer {
    background-color: #0f0 !important;
}

.falseAnswer {
    background-color: #f00 !important;
}

.mat-card {
    padding: 4px !important;
}

.button-container {
    margin-top: 12px;
    width: 100%;
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: flex-end;
}